---

import Layout from '../../../layouts/Layout.astro';
import { albums } from '../../../lib/albums';

export const getStaticPaths = async() => {
    return albums.flatMap((album) => {
        return album.gallery.map((image) => {
            return {
                params: 
                    {   
                        albumId: album.id, 
                        imageId: image.id
                    },
                props: {...image, album: album.title}
            }
        })
    })
}

const { 
    imageId
} = Astro.params;


const { 
    title,
    cover,
    album
} = Astro.props;


---

<Layout title={`${album} - ${title}`}>
    <div>
        <img src={cover} class="aspect-square w-[40vh] h-auto object-cover" alt={title} transition:name={`transition-cover-${imageId}`  }  />
    
    </div>
</Layout>
