---

import Breadcrumb from '@/components/Breadcrumb.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Layout from '@/layouts/Layout.astro';
import { albums } from '@/lib/albums';

export const getStaticPaths = async() => {
    return albums.flatMap((album) => {
        return album.gallery.map((image) => {
            return {
                params: 
                    {   
                        albumId: album.id, 
                        imageId: image.id
                    },
                props: 
                    {
                        ...image, 
                        albumTitle: album.title, 
                        albumBackground: album.background
                    }
            }
        })
    })
}

const { 
    albumId,
    imageId
} = Astro.params;

const { 
    title,
    cover,
    albumTitle,
    source,
    albumBackground
} = Astro.props;

---

<Layout favicon={cover} title={`${albumTitle} - ${title}`}>
    <SectionContainer class={`flex flex-col gap-y-[4vh] ${albumBackground}`}>
        <Breadcrumb
            albumId={albumId}
            albumTitle={albumTitle}
            imageTitle={title}
        />
        <img 
            src={cover} 
            class="w-auto h-auto aspect-square object-cover" 
            alt={title} 
            transition:name={`transition-cover-${imageId}`}  
        />

        {source 
            ? 
            <a 
                href={source}
                class="px-2 py-2 border self-center transition-colors duration-300 hover:bg-white/20 text-[1.7vh]"
                rel="noopener nooreferrer"
                target="_blank"
                title="Follow external link to the original source"
            >
                Original source
            </a> 
            : 
                <h3 class="opacity-60 text-center text-[1.7vh]">No original source available</h3>
        }
    </SectionContainer>
</Layout>
