---

import { albums } from "../lib/albums";

---


<section class="flex flex-col gap-y-[3.5vh]">
    <h3 class="font-semibold text-[2.5vh]">Album</h3>
    <ul class="flex flex-wrap lg:flex-col gap-4 md:gap-8 lg:gap-4">
        {albums.map(({id, cover, title, artist}) => (
            <li >
                <a class="flex gap-x-[1.5vh] min-w-[35vh] md:w-auto" href={`/albums/${id}`}>
                    <img 
                        src={cover} 
                        alt={title} 
                        class="size-[7vh] md:size-[8.5vh] lg:size-[6.5vh]"  
                    />
                    <span>
                        <h1 class="font-medium text-[2.5vh] md:text-[3vh] lg:text-[2.5vh]">{title}</h1>
                        <h3 class="text-[2.2vh] lg:text-[2vh] md:text-[2.5vh] opacity-70 font-light">{artist}</h3>
                    </span>
                </a>
            </li>
        ))}
    </ul>
</section>