---
import Separator from './Separator.astro';


interface Props {
    albumId?: number;
    albumTitle?: string;
    imageTitle?: string;
}

const {
    albumId,
    albumTitle,
    imageTitle
} = Astro.props;

const currentPageClass = "px-3 py-1 bg-black/20 ";

---

<div class="text-[1.7vh]  sm:text-[2vh] flex items-center gap-2 font-extralight self-start">
    {albumId && albumTitle
        ?  
        <a 
        href={`/`}
        class="transition-all duration-300 hover:underline cursor-pointer"
    >
        Home
    </a>
    :
    <h3 class={currentPageClass}>Home</h3>
    }
    

    {albumId && <Separator />}
    {albumId && albumTitle && (!imageTitle 
        ? 
        <h3 class={currentPageClass}>{albumTitle}</h3> 
        : <a 
        href={`/albums/${albumId}`} 
        class="transition-all duration-300 hover:underline cursor-pointer"
    >
        {albumTitle}
    </a>  )
        
    }

    {imageTitle && 
        <Separator />
        <h3 class={currentPageClass}>{imageTitle}</h3>
    }
</div>