---
import type { TransitionAnimationValue } from 'astro';
import type { Image } from '../types'

interface Props {
    image: Image;
    albumId: number;
}

const { image, albumId } = Astro.props;

const { 
    id: imageId,
    cover,
    title
} = image;

---

<a 
    href={`/albums/${albumId}/${imageId}`}
    class="w-full h-full aspect-square group overflow-hidden relative"
    title={`Link to the image ${title}`} 
    >
        <picture>
            <img 
                src={cover} 
                alt={`img-${imageId}`}
                class="aspect-square w-full h-full transition-all duration-300 group-hover:scale-110 object-cover"
                transition:name={`transition-cover-${imageId}` } 
            >
            <h2 class="absolute bottom-0 right-0 p-2 text-black bg-white/70  text-[2vh]">{title}</h2>
        </picture>
</a>