---

import ImageCard from '../../components/ImageCard.astro';
import Layout from '../../layouts/Layout.astro';
import { albums } from '../../lib/albums';
import SectionContainer from '../../components/SectionContainer.astro';
import Side from '../../components/Side.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';

export const prerender =  true;

export const getStaticPaths = async() => {
    return albums.map((album) => {
        return {
            params: {albumId: album.id},
            props: {...album}
        };
    });
}

const {
    albumId,
} = Astro.params;

const {
    title,
    cover,
    artist,
    gallery,
    background,
    description
} = Astro.props;

---

<Layout favicon={cover} title={title}>
    <SectionContainer class={`flex flex-col flex-1 gap-y-[7vh] ${background}`}>
        <Breadcrumb 
            albumId={albumId}
            albumTitle={title} 
        />

       <div class="flex flex-col gap-y-[6vh] md:flex-row gap-x-[6vh]">
            <img 
                src={cover} 
                alt={title} 
                class="md:w-[40vh] h-auto aspect-square"  
                transition:name={`transition-album-cover-${albumId}`}
            />

            <div class="flex flex-col gap-y-[1.5vh]">
                <h3 class="text-[3vh] tracking-widest uppercase" transition:name={`transition-album-artist-${albumId}`}>{artist}</h3>
                <h1 class="text-[11vh] font-bold leading-none w-full md:w-[60vh]">{title}</h1>
                <p class="text-[2.5vh] opacity-75 font-extralight md:w-[70vh] mt-3 md:mt-6 text-pretty">{description}</p>
            </div>
       </div>

       <h1 class="font-extralight text-[2vh] px-2 py-2 backdrop-blur-xs bg-white/20 self-start">{gallery.length} images in gallery</h1>

       <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-2 ">	
            {gallery.map((image) => (
                <ImageCard image={image} albumId={albumId} />
            ))}
       </div>
    </SectionContainer>
</Layout>
