---

import ImageCard from '../../components/ImageCard.astro';
import Layout from '../../layouts/Layout.astro';
import { albums } from '../../lib/albums';

export const prerender =  true;

export const getStaticPaths = async() => {
    return albums.map((album) => {
        return {
            params: {albumId: album.id},
            props: {...album}
        };
    });
}

const {
    albumId,
} = Astro.params;

const {
    title,
    cover,
    artist,
    gallery,
    background,
    description
} = Astro.props;

---

<Layout title={title}>
    <div class={`flex flex-col flex-1 gap-y-[12vh] p-[6vh] ${background} page mt-2 mr-2 mb-2`}>
       <div class="flex justify-between">
            <div class="flex flex-col gap-y-[4vh]">
                <h3 class="text-[3.5vh] tracking-widest uppercase">{artist}</h3>
                <h1 class="text-[17vh] font-bold leading-none w-[80vh]">{title}</h1>
                <p class="text-[2.2vh] opacity-75 font-extralight w-[80vh] mt-8">{description}</p>
            </div>

            <picture>
                <img src={cover} alt={title} class="w-[45vh] h-auto aspect-square">
            </picture>
       </div>

       <h1 class="font-light text-[3vh]">Gallery</h1>
       <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-2 -mt-[7vh]">	
            {gallery.map((image) => (
                <ImageCard image={image} albumId={albumId} />
            ))}
       </div>
    </div>
</Layout>

<style>
    .page{
        background-size: 200% 200%;
        animation: move 10s infinite backwards;
    }

    @keyframes move {
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
</style>